node_modules
.next
out
build
dist
coverage
.git
.gitignore
.github
.husky
.vscode
.idea
.env
.env.local
.env.*.local
*.log
.DS_Store
.vercel
*.tsbuildinfo
README.md
Dockerfile
Dockerfile.dev
docker-compose*.yml
.dockerignore
